<div class="modal" id="modal">
  <div class="modal-dialog" id="modal-dialog">
    <div class="modal-dialog-header align-center mt-5 mb-20">
      <h3>Writing feedback</h3>
    </div>
    <div class="modal-dialog-content">
      <div>
        <ul>
          <li>Give feedback to help identify the solution to the weakness that a user may have. Make this as positive as you can.</li>
          <li>Don't forget to compliment the user on their strengths and the kindness that they bring to your life.</li>
          <li>Do not abuse, harass, defame, discriminate based on gender, religion, race, age, national origin, or disability. Our systems will detect much of these and will block your feedback.</li>
          <li>Do not send any kind of Personal Identifiable Information(PII) like phone number, address, full name, or anything that may be related to you. Our systems will detect much of these and will block your feedback.</li>
          <li>And remember, we're all on the same boat in just our own different ocean. Let us all get better.</li>
          <li>Also, your feedback will not be sent immediately. After you submit your feedback, the user will receive the same anytime between 10 minutes to 5 hours. This helps to keep your identity as anonymous as possible.</li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="modal-dialog-footer align-right">
      <button class="btn" id="modal-close">Close</button>
    </div>
  </div>
</div>