<footer class="mt-80">
  <div class="row">
    <div class="col-dsk-6 col-mob-12 align-center-on-mob-only mt-5 pl-20">
      <p>
        Copyrights &copy;, 2020 - <%= link_to "#{ENV['c_name']}", "https://drabkirn.cdadityang.xyz" %>
      </p>
    </div>
    <div class="col-dsk-6 col-mob-12 align-right align-center-on-mob-only mt-5 pr-20">
      <%= link_to "Report", submit_report_path(username: ENV['admin_username']), class: "mr-10" %>
      <%= link_to "Palace", "https://drabkirn.cdadityang.xyz/palace", class: "mr-10", target: "_blank" %>
      <%= link_to "#{ENV['mailer_from_address']}", "mailto:ENV['mailer_from_address']", class: "mr-10" %>
    </div>
  </div>
  <div>
    <p class="align-center italic mt-5">With 💖 @Baaaaaa</p>
  </div>
</footer>